In [56]:
!ls

'Colab Notebooks'   train.csv

In [12]:
%cd drive

[Errno 2] No such file or directory: 'drive'
/content/drive/MyDrive

In [4]:
!ls

MyDrive

In [5]:
%cd MyDrive

/content/drive/MyDrive

In [57]:
import numpy as np
import pandas as pd
df = pd.read_csv('train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [58]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [59]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Корректирование по комментариям (1), Расчет процентов выживших

In [60]:
df.groupby('Pclass')['Survived'].mean() * 100

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

Пассажиры, возраст которых больше 44 лет

In [61]:
df[df['Age'] > 44]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
...,...,...,...,...,...,...,...,...,...,...,...,...
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

Пассажиры мужского пола, возраст которых больше 44 лет

In [62]:
df[(df['Age'] > 44) & (df['Sex'] == "male")]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
...,...,...,...,...,...,...,...,...,...,...,...,...
771,772,0,3,"Jensen, Mr. Niels Peder",male,48.0,0,0,350047,7.8542,NaN,S
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.0,0,0,PC 17593,79.2000,B82 B84,C
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S

Корректирование по комментариям (2), Расчет количества человек в N-местных кабинах

In [102]:
dfCabMoreThanOne = df['Cabin'].value_counts().loc[lambda x: x > 1]
dfCabMoreThanOne

B96 B98            4
G6                 4
C23 C25 C27        4
C22 C26            3
F33                3
F2                 3
E101               3
D                  3
C78                2
C93                2
E8                 2
D36                2
B77                2
C123               2
E121               2
E44                2
D35                2
C125               2
E67                2
B35                2
B18                2
E24                2
B49                2
C65                2
B20                2
B5                 2
B57 B59 B63 B66    2
C126               2
B51 B53 B55        2
F4                 2
C124               2
F G73              2
B58 B60            2
C52                2
D33                2
C68                2
D20                2
D26                2
B28                2
C83                2
E25                2
D17                2
B22                2
C92                2
C2                 2
E33                2
Name: Cabin, dtype: int64

Корректирование по комментариям (2), Общее количество пассажиров в N-местных кабинах

In [101]:
dfNumberOfPass = dfCabMoreThanOne.groupby(dfCabMoreThanOne.values).sum()
dfNumberOfPass

2    76
3    15
4    12
Name: Cabin, dtype: int64

Самое популярное мужское имя

In [103]:
dfMale = df[(df['Sex'] == "male")]
dfMale.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S

In [104]:
dfCountMale = dfMale["Name"].str.extract(r"(?:Mr\.|Master\.)\s+(\w+)")
dfCountMale.value_counts()

William     34
John        22
George      14
Charles     12
Thomas      12
            ..
Hudson       1
Husein       1
Ignjac       1
Iisakki      1
Yousseff     1
Length: 281, dtype: int64

Самое популярное женское имя

In [ ]:
dfFemale = df[(df['Sex'] == "female")]
dfFemale.head()

In [ ]:
dfCountFemale = dfFemale["Name"].str.extract(r"(?:Mrs\.|Miss\.)\s+[^(]*\((\w+)")
dfCountFemale.value_counts()

Корректировка (3). Подсчет популярного имени в каждом классе.

1 класс

In [ ]:
dfMale1 = df[(df['Sex'] == "male") & (df['Pclass'] == 1)]
dfMale1.head()

In [ ]:
dfCountMale1 = dfMale1["Name"].str.extract(r"(?:Mr\.|Master\.)\s+(\w+)")
dfCountMale1.value_counts()

In [ ]:
dfFemale1 = df[(df['Sex'] == "female") & (df['Pclass'] == 1)]
dfFemale1.head()

In [ ]:
dfCountFemale1 = dfFemale1["Name"].str.extract(r"(?:Mrs\.|Miss\.)\s+[^(]*\((\w+)")
dfCountFemale1.value_counts()

2 класс

In [ ]:
dfMale2 = df[(df['Sex'] == "male") & (df['Pclass'] == 2)]
dfMale2.head()

In [ ]:
dfCountMale2 = dfMale2["Name"].str.extract(r"(?:Mr\.|Master\.)\s+(\w+)")
dfCountMale2.value_counts()

In [ ]:
dfFemale2 = df[(df['Sex'] == "female") & (df['Pclass'] == 2)]
dfFemale2.head()

In [ ]:
dfCountFemale2 = dfFemale2["Name"].str.extract(r"(?:Mrs\.|Miss\.)\s+[^(]*\((\w+)")
dfCountFemale2.value_counts()

3 класс

In [ ]:
dfMale3 = df[(df['Sex'] == "male") & (df['Pclass'] == 3)]
dfMale3.head()

In [ ]:
dfCountMale3 = dfMale3["Name"].str.extract(r"(?:Mr\.|Master\.)\s+(\w+)")
dfCountMale3.value_counts()

In [ ]:
dfFemale3 = df[(df['Sex'] == "female") & (df['Pclass'] == 3)]
dfFemale3.head()

In [ ]:
dfCountFemale3 = dfFemale3["Name"].str.extract(r"(?:Mrs\.|Miss\.)\s+[^(]*\((\w+)")
dfCountFemale3.value_counts()